<div class="sidebar">                
    <div class="side-items">
        <div class="side-item">                       
            <a href="#" id="menu">                            
                <i class="fa-solid fa-bars"></i>                           
                <span class="item-description">
                    Menu
                </span>
            </a>
        </div>

        <div class="side-item">
            <a href="#">
                <i class="fa-solid fa-cart-shopping"></i>                                                 
                <span class="item-description">
                    Cart
                </span>
            </a>
        </div>

        <div class="side-item">
            <a href="#">
                <i class="fa-solid fa-store"></i>
                <span class="item-description">
                    Store
                </span>
            </a>
        </div>
        <!--mais intens da side bar-->
    </div>
</div>