.sidebar {
    height: 100vh; /* pega a vertical toda */
    position: relative;
    justify-content: space-between;    
    width: 60px;
    transition: width 0.3s ease;
  }
  
  .side-items {
    padding: 10px;
  }
  
  .side-item {
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    width: 100%;
  }
  
  .side-item.active {
    background-color: var(--primary-color);
    color: white;
    gap: 14px;    
  }
  
  .side-item:hover:not(.active) {
    background-color: #e3e9f7;
  }
  
  .side-item a {
    text-decoration: none;
    color: #0a0a0a;
    display: flex;
    align-items: center;
  }
  
  .side-item.active a {
    color: #e3e9f7;
  }
  
  .side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
  }
  
  .item-description {
    transform: translateX(-10px);
    transition: all 0.3s ease;
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    height: 0px;
  }
  
  .sidebar.open-sidebar {
    width: 250px;    
  }
    
  .sidebar.open-sidebar .item-description {
    min-width: 150px;
    height: auto;
  }
  
  .sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
  }
  