@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.primary-container {
  height: 100vh; /* altura total da tela */
  flex-direction: column;
}

.second-container {
  flex: 1; /* pega o resto da tela */
  display: flex;
}

.main {
  background-color: rgba(219, 218, 223, 0.5);
  flex: 1; /* ocupa o espaço restante */
}
